<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PRUEBA.My.MySettings.ALMACEN_FARMACIAConnectionString"
            connectionString="Data Source=USER\SQLEXPRESS;Initial Catalog=ALMACEN_FARMACIA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>